@model IEnumerable<CookingTime.Web.Areas.Administration.Models.RecipeAdministrationViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @if (item.IsDeleted)
            {
                //@Html.ActionLink("Recover", "Recover", new { id = item.ID })
                using (Html.BeginForm("Recover", "Administration", new { area="Administration" }, FormMethod.Post))
                {
                    @Html.HiddenFor(id => item.ID)
                    <input type="submit" value="Recover"/>
                }
            }
            else
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
