@model PagedList.IPagedList<CookingTime.Web.Areas.Administration.Models.UserAdministrationViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Users Administration";
}

<br />
<table class="table panel">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().IsAdmin)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @if (item.IsAdmin)
            {
                using (Html.BeginForm("RemoveAdmin", "Administration", new { id = item.Id, area = "Administration" }, FormMethod.Post))
                {
                    <input type="submit" value="Remove admin"  class="btn btn-warning" />
                }
            }
            else
            {
                using (Html.BeginForm("MakeAdmin", "Administration", new { id = item.Id, area = "Administration" }, FormMethod.Post))
                {
                    <input type="submit" value="Make admin"  class="btn btn-primary" />
                }
            }
        </td>
    </tr>
}

</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("All", new { page }))
</div>
